<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
<style>html,body,h1,h2,h3,h4,h5 {font-family: "Bai Jamjuree", sans-serif}</style>

<footer class="w3-container w3-padding-16 w3-light-grey">
    <div class="containerFooter">
        <div class="break">
            <div class="row">
                <div class="column">
                    <h4>จัดทำโดย</h4>
                    <p class="title">นายพฤกษ์ หอมนาน</p>
                    <p class="text">สาขาเทคโนโลยีสารสนเทศ</p><br>
                    <p class="text">มหาวิทยาลัยเทคโนโลยีราชมงคลตะวันออก <br>วิทยาเขตจักรพงษภูวนารถ</p>
                </div>
            
                <div class="column">
                    <h4>อาจารย์ที่ปรึกษา</h4>
                    <p class="title">อาจารย์ชุมพล โมฆรัตน์</p>
                    
                </div>

                <div class="column">
                    <h4>Contact</h4>
                    <a class="link" href="mailto:pruk.hom.it57@cpc.ac.th">Email</a>
                    <a class="link" href="https://www.facebook.com/pruk.mtc/">Facebook</a>
                    <p class="text">061-825-0845</p>
                </div>

            </div>
        </div>
    </div>
</footer>