<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/dataTables.bootstrap4.min.js')}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/footerList.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
<style>html,body,h1,h2,h3,h4,h5 {font-family: "Bai Jamjuree", sans-serif}</style>

<footer class="w3-container w3-padding-16 w3-light-grey">
    <div class="containerFooter">
        <div class="breakFooter">
            <div class="rowFooter">
                <div class="columnFooter">
                    <h4>จัดทำโดย</h4>
                    <p class="titleFooter">นายพฤกษ์ หอมนาน</p>
                    <p class="textFooter">สาขาเทคโนโลยีสารสนเทศ</p><br>
                    <p class="textFooter">มหาวิทยาลัยเทคโนโลยีราชมงคลตะวันออก <br>วิทยาเขตจักรพงษภูวนารถ</p>
                </div>
            
                <div class="columnFooter">
                    <h4>อาจารย์ที่ปรึกษา</h4>
                    <p class="titleFooter">อาจารย์ชุมพล โมฆรัตน์</p>
                    <p class="textFooter">หัวหน้าสาขาเทคโนโลยีสารสนเทศ</p><br>
                </div>

                <div class="columnFooter">
                    <h4>Contact</h4>
                    <a class="linkFooter" href="mailto:pruk.hom.it57@cpc.ac.th">Email</a>
                    <a class="linkFooter" href="https://www.facebook.com/pruk.mtc/">Facebook</a>
                    <p class="textFooter">061-825-0845</p>
                </div>

            </div>
        </div>
    </div>
</footer>